<!-- Spot display -->
<p><%= link_to '<< Revenir à la liste', spots_path, class: "btn btn-primary" %></p>

<div class="container">
  <div class="col-12 col-md-6 col-lg-3">
  <!-- display all spots in a page -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Photo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Arbres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
          aria-selected="false">Espèces</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <img class="card-img-top" src="<%= @spot.image_url %>" alt="Unsplash">
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <p>Sur ce spot, il y a <%= @spot.trees.count %> arbres identifiés.</p>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <%= @spot.taxa_array.each do |taxon| %>
          <span class="badge badge-pill badge-info"><%= taxon %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
