<!-- Spot display -->
<h2><%= @spot.name %></h2>
<div class="col-md-4">
  <div class="card hovercard">
      <div class="avatar">
        <img alt="" src="<%=@spot.image_url%>">
      </div>
      <div class="info">
          <div class="bottom">
              <p><%=@spot.description%></p><br>
          </div>
          <!-- Display number of trees -->
          <p>Sur ce spot, il y a <%= @spot.trees.count %> arbres identifiés.</p><br>
          <!-- Display different taxa -->
          <p>Et <%= @spot.taxa_count %> espèces différentes.</p><br>
          <% @spot.trees.each do |tree| %>
          <div>
              <%= tree.taxon.common_noun %>
          </div>
          <% end %>
          <br>
          <p>affichage carte</p>
      </div>
  </div>
</div>
