<main class="main h-100 w-100">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
				<div class="d-table-cell align-middle">

					<div class="text-center mt-4">
						<h1 class="h2">Add a taxon in DB</h1>
						<p class="lead">
							Merci de vouloir contribuer !
						</p>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="m-sm-4">

                <%= form_for(@taxon) do |f| %>

                <div class="form-group">
                  <%= f.label :common_noun %> (Nom commun)<br>
                  <%= f.text_field :common_noun %>
                </div>

                <div class="form-group">
                  <%= f.label :family %> (Famille)<br>
                  <%= f.select :family, Taxon.pluck(:family) %>
                </div>

                <div class="form-group">
                  <%= f.label :genus %> (Genre)<br>
                  <%= f.select :genus, Taxon.pluck(:genus) %>
                </div>

                <div class="form-group">
                  <%= f.label :species %> (Espèce)<br>
                  <%= f.select :species, Taxon.pluck(:species) %>
                </div>

                <div class="text-center mt-3">
                  <%= f.submit %>
                </div>
                <% end %>
              </div>
