<main class="main h-100 w-100">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
				<div class="d-table-cell align-middle">

					<div class="text-center mt-4">
						<h1 class="h2">Add a tree on the spot</h1>
						<p class="lead">
							Merci de vouloir contribuer !
						</p>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="m-sm-4">

                <%= form_for(@tree) do |f| %>

                <div class="form-group">
                  <%= f.label :name %> (optionnel)<br>
                  <%= f.text_field :name, class: "form-control form-control-lg", placeholder: "Enter name of spot" %>
                </div>

                <div class="form-group">
                  <%= f.label :description %> (optionnel)<br>
                  <%= f.text_area :description, class: "form-control form-control-lg", placeholder: "Description" %>
                </div>

                <div class="form-group">
                  <label for="taxon">Taxon</label>
                  <%= f.select :taxon_id, Taxon.pluck(:common_noun, :id), class: "form-control form-control-lg" %>
                </div>

                <div class="form-group">
                  <label for="spot">Spot</label>
                  <%= f.select :spot_id, Spot.pluck(:name, :id), class: "form-control form-control-lg" %>
                </div>

                <div class="form-group">
                  <%= link_to 'Add a new Taxon', new_taxon_path %>
                </div>

                <div class="form-group">
                  <%= f.label :latitude %> <%= f.label :longitude %><br>
                  <%= f.text_field :latitude, class: "form-control form-control-lg", placeholder: "Latitude" %>
                  <%= f.text_field :longitude, class: "form-control form-control-lg", placeholder: "Longitude" %>
                </div>

                <div id="mapgeoloc-add-tree"></div>

                <div class="text-center mt-3">
                  <%= f.submit %>
                </div>
                <% end %>
              </div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>

<script type="text/javascript">
  // initialize the map object
  var mapgeoloc_add_tree = L.map('mapgeoloc-add-tree').fitWorld();

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
		accessToken: '<%= Rails.application.credentials.dig(:mapbox, :secret_access_key) %>'
  }).addTo(mapgeoloc_add_tree);

  // zooming the map view to the detected location
  mapgeoloc_add_tree.locate({setView: true, maxZoom: 16});

  // locationfound and locationerror events
  function onLocationFound(e) {
    var radius = e.accuracy / 2;

    L.marker(e.latlng).addTo(mapgeoloc_add_tree)
        .bindPopup("You are within " + radius + " meters from this point").openPopup();

    L.circle(e.latlng, radius).addTo(mapgeoloc_add_tree);
  }

  mapgeoloc_add_tree.on('locationfound', onLocationFound);

  // message if the geolocation failed
  function onLocationError(e) {
    alert(e.message);
  }

  mapgeoloc_add_tree.on('locationerror', onLocationError);

</script>
