<!doctype html>
<html class="no-js" lang="zxx">

<head>
		<meta charset="utf-8">
		<meta name="author" content="John Doe">
		<meta name="description" content="">
		<meta name="keywords" content="HTML,CSS,XML,JavaScript">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!--Leaflet CSS file-->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
		integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		crossorigin=""/>

		<!-- Leaflet JavaScript (necessary AFTER Leaflet's CSS) -->
		<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
		integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
		crossorigin=""></script>


		<!-- Title -->
		<title>GREEN-Spots</title>


</head>

<body>




<% if user_signed_in? %>
	<li>
	  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
	</li>
	<li>
		<%= link_to 'Spots', spots_path %>
	</li>
	<li>
		User connected : <%= current_user.email %>
	</li>
	   <%else%>
  <li>
     <%= link_to 'Sign In', new_user_session_path %>
  </li>
	<li>
	   <%= link_to 'Sign Up', new_user_registration_path %>
	</li>
<% end %>
Lat : <%= Spot.first.latitude.to_f %>
Long : <%= Spot.first.longitude.to_f %><br>

<div id="mapidtest"></div>
<br>
<div id="mapidall"></div>
<br>
<div id="mapgeoloc"></div>

<script type="text/javascript">
	// declaration objet
	var mymap = L.map('mapidtest').setView([45.777411, 4.855225], 13);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		maxZoom: 18,
		id: 'mapbox.streets',
		accessToken: '<%= Rails.application.credentials.dig(:mapbox, :secret_access_key) %>'
	}).addTo(mymap);

	// marqueur
	var marker = L.marker([45.757727, 4.832439]).addTo(mymap);

	// cercle
	var circle = L.circle([45.772815, 4.885998], {
		color: 'red',
		fillColor: '#f03',
		fillOpacity: 0.5,
		radius: 500
	}).addTo(mymap);

	// polygon
	var polygon = L.polygon([
			[45.7726, 4.8539],
			[45.773, 4.8583],
			[45.7846, 4.8594],
			[45.7845, 4.8547],
			[45.781, 4.8477],
			[45.7774, 4.8448]
	]).addTo(mymap);

	// popup
	marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
	circle.bindPopup("I am a circle.");
	polygon.bindPopup("I am a polygon.");

	var popup = L.popup()
		.setLatLng([45.790055, 4.824886])
		.setContent("I am a standalone popup.")
		.openOn(mymap);

	// interaction avec click map
	var popup2 = L.popup();
	function onMapClick(e) {
		// alert("You clicked the map at " + e.latlng);
		popup2
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(mymap);
		}
	mymap.on('click', onMapClick);

	// un green spot sur une carte
	var spotsdisplay = L.map('mapidall').setView([45.759859, 4.836044], 12);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		maxZoom: 18,
		id: 'mapbox.streets',
		accessToken: '<%= Rails.application.credentials.dig(:mapbox, :secret_access_key) %>'
	}).addTo(spotsdisplay);
	// Un marqueur par spot
	<% @spots.each do |spot| %>
		var markerspot = L.marker([<%= spot.latitude.to_f %>, <%= spot.longitude.to_f %>]).addTo(spotsdisplay);
		markerspot.bindPopup("<b><%= spot.name %></b>").openPopup();
	<% end %>
	// Recentrer la vue
	spotsdisplay.setView([45.759859, 4.836044], 12);

	// geoloc
	// initialize the map object
	var mapgeoloc = L.map('mapgeoloc').fitWorld();

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		maxZoom: 18,
		id: 'mapbox.streets',
		accessToken: '<%= Rails.application.credentials.dig(:mapbox, :secret_access_key) %>'
	}).addTo(mapgeoloc);

	// zooming the map view to the detected location
	mapgeoloc.locate({setView: true, maxZoom: 16});

	// locationfound and locationerror events
	function onLocationFound(e) {
		var radius = e.accuracy / 2;

		L.marker(e.latlng).addTo(mapgeoloc)
				.bindPopup("You are within " + radius + " meters from this point").openPopup();

		L.circle(e.latlng, radius).addTo(mapgeoloc);
	}

	mapgeoloc.on('locationfound', onLocationFound);

	// message if the geolocation failed
	function onLocationError(e) {
		alert(e.message);
	}

	mapgeoloc.on('locationerror', onLocationError);


</script>

</body>
