<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Green Spots</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Comment le numérique peut vous aider à mieux connaitre les arbres autour de vous.</h2>
      <a href="<%= trees_map_path %>" class="btn btn-primary js-scroll-trigger">Commence l'exploration</a>
      <h4 class="text-white-50 mx-auto mt-2 mb-5">
        <em class="btn btn-primary js-scroll-trigger"><%= @spots.count %> spots</em>
        <em class="btn btn-primary js-scroll-trigger"><%= @trees.count %> arbres</em>
        <em class="btn btn-primary js-scroll-trigger"><%= @taxons.count %> espèces</em>
      </h4>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Le projet ?</h2>
        <p class="text-white-50">Permettre aux gens de découvrir une espèce
          d'arbre en particulier grâce à un positionnement géographique des
          individus d'espèces. Tu veux savoir à quoi ressemble un oranger des
          osages et le voir en vrai ?
        </p>
      </div>
    </div>
    <%= image_tag("ipad.png", class: "img-fluid", alt: "") %>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">

    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <%= image_tag("bg-masthead.jpg", class: "img-fluid mb-3 mb-lg-0", alt: "") %>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>A toi de jouer !</h4>
          <p class="text-black-50 mb-0">Le projet se veut citoyen, à toi de
            référencer les arbres que tu rencontres.
          Quelques arbres sont déjà consultables sur la carte !</p>
        </div>
      </div>
    </div>

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <%= image_tag("demo-image-01.jpg", class: "img-fluid", alt: "") %>
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Confirmation croisée</h4>
              <p class="mb-0 text-white-50">Afin d'être sur de l'espèce des
              arbres référencés, différentes personnes peuvent confirmer ou non
            l'espèce d'un arbre.</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <%= image_tag("demo-image-02.jpg", class: "img-fluid", alt: "") %>
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Référents natures</h4>
              <p class="mb-0 text-white-50">Tu es botaniste ou simplement fin
              connaisseur de la nature ? Tu pourras devenir référent par la
            qualité et la quantité du référencement d'arbres que tu feras.</p>
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Signup Section -->
<section id="signup" class="signup-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">

        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">Tu veux être informé des avancées du projet ?</h2>

        <form class="form-inline d-flex">
          <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Inscris ton adresse mail...">
          <button type="submit" class="btn btn-primary mx-auto">Oui je le veux !</button>
        </form>

      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section class="contact-section bg-black">
  <div class="container">

    <div class="row">

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4">
            <div class="small text-black-50">4923 Market Street, Orlando FL</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="#">hello@yourdomain.com</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4">
            <div class="small text-black-50">+1 (555) 902-8832</div>
          </div>
        </div>
      </div>
    </div>

    <div class="social d-flex justify-content-center">
      <a href="#" class="mx-2">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </div>
</section>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Built with Bootstrap 4</h2>
        <p class="text-white-50">Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
          <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
  <div class="container">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
  </div>
</footer>
